/*지역별 체크박스*/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.wrap {

	position: absolute;
	top: 70px;
	/* left:50%;
	transform: translate(-50%, 50%);
	*/
}

.wrap h2{
	font-size: 20px;
	color: #222;
	text-align: center;
}

.wrap .list{

	margin-top: 0px;
	flex-wrap: wrap;
	gap:20px;

}

.areaList {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.area{
    display: block;
	float: left;
	width:100px;
	height: 40px;
	text-align: center;
    /*margin-left: 15px;*/
}


  input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
	  width: 100%;
	  height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-color: #e4e4e7;
      /*border-radius: 8px;*/
        border: 1px solid #040428;
      text-align: center;
      transition: all 100ms ease-in-out;
    }

    .area .title{

		color: #29292f;
		transition: all 100ms ease-in-out;

	}

    input[type="checkbox"] + label::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #707070;
      margin-right: 5px;
      background-color: white;
    }

    input[type="checkbox"]:checked + label::before {
      content: "✔";
      font-size: 13px;
      line-height: 10px;
      text-align: center;
      background-color:#f3f6f7;
      color: #0f172a;
      transition: all 200ms ease-in-out;
    }

    .area input:checked + label {
        background-color: white;
        border: 2px solid #9691d9;
	}


/*테이블 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,form,fieldset,legend,input,textarea,button,select,a,pre{ padding: 0px; margin: 0px;  font-family:'Noto Sans KR', sans-serif; font-size: 14px; color: #fff; font-weight: normal; letter-spacing:-1px; word-spacing:-1px;}/*'Nanum Square','Noto sans KR''Nanum Gothic' font-family: 'NanumSquare', sans-serif;*/
th {color: #222; font-weight: 500;}
input{padding-left:10px;}
img{ border: none; padding: 0px; vertical-align: middle; max-width: 100%; height: auto;}
li{ list-style: none; }
a {text-decoration: inherit; outline:none; }
table>tbody>tr>td>a {color: #6d6db3;}

table{ border-spacing: 0px; border-collapse: collapse; width:80%;}
td, th{ border-collapse: collapse;}
header, section, nav, article, aside, figure{ padding:0px; margin:0px; display: block; }
fieldset{ border: none; }
legend{ display: none; }
address{ font-style: normal;}
pre{ color:#777}


:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #ddd;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #ddd;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #ddd;
}
::placeholder { /* 파이어폭스 51+, 크롬 57+ */
   color: #ddd;
   opacity:  1;
}
.le-sp2 {letter-spacing: -2px;}

/*margin*/
.fl{float:left;}
.fr{float:right;}

/*position*/
.p_rel {position: relative;}

 .wrap{width:100%; background-color:#0f172a; min-width:1280px;}
 .wrap .header{width:100%; height:75px; background-color:#263238; position:relative;}
 .wrap .header span{position:absolute; right:20px; top:27px;}
 .wrap .header img{margin-left:20px; margin-top:15px;}

 .wrap .warp_inner{width:100%; position:relative; clear:both; content:''; display:block;}

 .wrap .warp_inner:after{clear:both; display:block; content:'';}

.right_content{min-width:950px; position:relative; margin-left:200px; padding: 50px;}


.full_collum {justify-content: center; padding: 0px 30px;}
.full_collum ul li ul{display:block; background-color:#fff;}
.full_collum ul li ul li{padding:20px; overflow:auto; overflow-y:hidden; }

/* 테이블  배경색*/
.collum_tit{background-color:#0f172a; position:relative;line-height:55px; border:1px solid #ededed; min-width:950px;}
.collum_tit h2{color:#fff;font-size:18px;  line-height:55px; margin-left: 20px;}

/* pageer */
.page{padding:30px 0 20px 0;position:relative;}
.page ul{text-align:center;}
.page ul li{display:inline;  padding:0px!important;}
.page ul li a{display:inline-block; zoom:1;*display:inline; width: 35px; height: 35px; line-height: 35px; color:#777777; border:1px solid #dddddd;transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;font-size:15px;}
.page ul li a:hover, .page ul li.on a{display:inline-block;zoom:1;*display:inline; border:1px solid #7866c9;background:#fff;color:#7866c9;}
.page ul li a i{color:#777777;}
.page ul li a:hover i{color:#7866c9;}



/*테이블*/
.row_tb_4{border-top:1px solid #4588fd; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.row_tb_4 tr th{background-color:#edf0f5; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:25%; border-left:1px solid #fff; font-weight:bold;}
.row_tb_4 tr td{background-color:#fff; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:25%; border-left:1px solid #ededed;}

.row_tb_7{border-top:1px solid #4588fd; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.row_tb_7 tr th{background-color:#edf0f5; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center;  border-left:1px solid #fff; font-weight:bold;}
.row_tb_7 tr td{background-color:#fff; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; border-left:1px solid #ededed; border-bottom:1px solid #ededed;}

.row_tb_11{border-top:1px solid #4588fd; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.row_tb_11 tr{border-bottom: 1px solid #ededed;}
.row_tb_11 tr th{background-color:#edf0f5; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; border-left:1px solid #fff; font-weight:bold;}
.row_tb_11 tr td{background-color:#fff; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; border-left:1px solid #ededed;}
.bd_w th{border-bottom: 1px solid #fff;}

.row_tb_5{border-top:1px solid #4588fd; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.row_tb_5 tr th{background-color:#edf0f5; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:20%; border-left:1px solid #fff; font-weight:bold;}
.row_tb_5 tr td{background-color:#fff; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:20%; border-left:1px solid #ededed; border-bottom: 1px solid #ededed;}

.row_tb_4{border-top:1px solid #4588fd; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.row_tb_4 tr th{background-color:#edf0f5; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:25%; border-left:1px solid #fff; font-weight:bold;}
.row_tb_4 tr td{background-color:#fff; height:40px; line-height:40px; font-size:14px; color:#555555; text-align:center; width:20%; border-left:1px solid #ededed; border-bottom: 1px solid #ededed;}

.col_14{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_14 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #ededed; height: 45px; line-height: 45px; min-width:7%; width:7%;}
.col_14 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_10{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_10 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:10%; width:10%;}
.col_10 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_9{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}

.col_9 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:11%; width:11%;}
.col_9 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_8{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_8 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:12.5%; width:12%;}
.col_8 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_7{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_7 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:14.2%; width:14.2%;}
.col_7 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_6{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_6 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:16.6%; width:16.6%;}
.col_6 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_5{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_5 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:20%; width:20%;}
.col_5 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}

.col_4{width:100%; border-left:1px solid #ededed;  border-top:1px solid #4588fd;}
.col_4 tr th{text-align:center; background-color: #edf0f5; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #e6e6e6; height: 45px; line-height: 45px; min-width:25%; width:25%;}
.col_4 tr td{text-align:center; border-bottom: 1px solid #ededed; text-align: center; line-height: 45px; height: 45px;}


.col_tb_4{color:#555555; line-height:45px; font-size:14px; border-top:1px solid #ededed; border-left:1px solid #ededed;}
.col_tb_4 tr th{width:140px; background-color:#edf0f5; text-align:center; border-bottom:1px solid #fff; border-right:1px solid #ededed; height:45px; line-height:17px; }
.col_tb_4 tr td{border-right:1px solid #ededed; border-bottom:1px solid #ededed; padding-left:12px; line-height:30px; height:45px; min-width:343px;}
.col_tb_4 select, .col_tb_4 input{height:30px; border:1px solid #d5d5d5; margin-right:4px;}


.col_tb_2{color:#555555; line-height:45px; font-size:14px; border-top:1px solid #ededed; border-left:1px solid #ededed;}
.col_tb_2 tr th{width:140px; background-color:#edf0f5; text-align:center; border-bottom:1px solid #fff; border-right:1px solid #ededed; height:45px; line-height:17px; }
.col_tb_2 tr td{border-right:1px solid #ededed; border-bottom:1px solid #ededed; padding-left:12px; line-height:30px; height:45px;}
.col_tb_2 select, .col_tb_4 input{height:30px; border:1px solid #d5d5d5; margin-right:4px;}


.font_eb6751{color:#eb6751; font-size:12px;}
.font_7866c9{color:#7866c9;}

/*마진*/
.mr05{margin-right:5px;}
.ml05{margin-left:5px;}
.mglr510 {margin: 0 5px 0 10px;}
.mglr13 {margin: 0 13px;}
.margin_center{margin:0 auto;}

/*border*/
.bb_fff{border-bottom:1px solid #fff;}
.bb_0{border-bottom:0px!important;}

/*title*/
.page_title{height:70px; line-height:70px; background-color:#263238; color:#fff; font-weight:bold; font-size:24px; text-indent:20px;}
li.collum_tit{margin-top:10px;}
.height600{height:600px;}



.collum_tit h2{display:inline-block;}
.collum_tit > a{float:right; border-radius:2px; background-color:#6094ee; color:#fff; height:26px; line-height:26px; margin-top:15px; padding-left:5px; padding-right:5px; font-size:12px; margin-right:10px; position:relative; right:50px;}

.collum_tit > select{float:right; border-radius:2px; background-color:#263238; color:#fff; height:26px; margin-top:15px; line-height:26px; font-size:12px; position:relative; right:50px;}

.collum_tit:after{clear:both; display:block; content:'';}


/*관리자 페이지*/
.prodadmin_title {
    width: 190px;
    height: 55px;
    margin-left: 20px;
    margin-top: 5px;
    /*text-align: center;*/
    font-size: 20px;
    line-height: 56px;
    /*background-color: #9691d9;*/
    color: white;
    font-weight: 550;
    border-radius: 10px 10px 0 0;
}

.list {
    width: 96%;
    height: 98%;
    margin-top: 0;
    border: 1px solid #bfbfda;
    border-radius: 10px;
    margin-left: 5px;
}

/*검색창*/
.search {
    width: 300px;

}
.warp {
	position: relative;
	top: 0;

}
.search .input_search{
    width: 80%;
    border: 1px solid #bbb;
    font-size: 16px;
    outline: none;
    height: 40px;


}


.search_icon {
    width: 24px;
    top: -46px;
    left: 197px;
    margin: 0;
    position: relative;
}

/* 조회버튼 */
input[type="checkbox"] {

	position: absolute;
	left: 1000px;
	top: 500px;

}
.title_box{overflow: hidden;}

.search {
  float: right;
  line-height : 5
}
.prodadmin_title {
  float:left;
}

.main_top {padding: 10px;}

