<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/prodDeliver_prodList1.css}">
<script th:src="@{/js/jquery-1.12.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/imageUpload.js}"></script>

<th:block th:replace="~{./include/basicLayout2 :: setContent(~{::.wrap})}">


    <div class="wrap">
        <div class="prodadmin_title">배송완료된 물품</div>
        <div class="list">


            <div class="full_collum collum">
                <ul>
                    <li class="collum_tit">
                        <table cellpadding="0" cellspacing="0" class="col_14">
                            <tr>
                                <th style="width: 2%;">순서</th>
                                <th style="width: 3%;">운송장번호</th>
                                <th style="width: 3%;">출고일</th>
                                <th style="width: 4%;">상품유형</th>
                                <th style="width: 7%;">도착주소</th>
                                <th style="width: 7%;">불량메시지</th>
                                <th style="width: 2%;">불량철회</th>

                            </tr>

                            <tr th:each=" vo, status : ${list}">

                                <td>[[${status.count}]]</td>
                                <td><a id="keyId" th:href="@{prodDetail(prod_del_no=${vo.prod_del_no})}">[[${vo.prod_del_no}]]</a></td>
                                <td >[[${vo.shipdate}]]</td>
                                <td>[[${vo.prod_type}]]</td>
                                <td>[[${vo.cus_addr}]]</td>
                                <td>[[${vo.d_content}]]</td>
                                <td style="text-align: center;">
                                    <a  th:href="@{/prodDeliver/defectiveForm(prod_del_no=${vo.prod_del_no})}" th:value="${status.count}" class="modal_btn"  style="width: 40px; background-color: #dddddd; border-radius: 5px;
                                    height: 30px; color: #0f172a; padding:10px;vertical-align: middle; line-height: 32px ">철회
                                    </a>
                                </td>

                            </tr>
                        </table>
                    </li>
                </ul>
            </div>




        </div>
    </div>
    </div>

</th:block>

<script th:inline="javascript">
    var msg = '[[${msg}]]';
    if (msg !== 'null'){
        alert(msg);
    }
</script>